/*
 * 2051565 GTY
 * 创建于2024年1月5日 江西省上饶市玉山县
 */

@import '../../index.css';

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.function-card-container {
    width: 76px;
    height: 100px;
    border-radius: 12px;
    transition: 0.1s;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 16px;
    flex-shrink: 0;
}

.function-card-container:active {
    opacity: 0.72;
    background-color: #8882;
}


.msg-card {
    height: 80px;
    border-radius: 16px;
    border: 1px solid #7777;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    position: relative;
}

.msg-card:active {
    background: #aaa2;
}
